@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,700;1,700&family=Roboto+Mono:wght@200&family=Roboto:wght@300&display=swap");

/* ----------------------------- */
/*        Custom properties      */
/* ----------------------------- */
:root {
  /* Colors */
  --clr-drk: 215, 28%, 17%;
  --clr-gry: 220, 13%, 91%;
  --clr-wht: 90, 17%, 98%;
  --clr-blu: 217, 91%, 59%;

  /* Font Sizes */
  --fs-500: 48px;
  --fs-400: 36px;
  --fs-300: 24px;
  --fs-200: 18px;
  --fs-100: 16px;

  /* Font families */
  --ff-exo-serif: "Exo", sans-serif;
  --ff-robot-serif: "Roboto", sans-serif;
  --ff-robot-mono: "Roboto Mono", monospace;
}

/* ----------------------------- */
/*        Box sizing             */
/* ----------------------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ----------------------------- */
/*        Reset Margins          */
/* ----------------------------- */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* ----------------------------- */
/*        Set up the body        */
/* ----------------------------- */
body {
  font-family: var(--ff-robot-serif);
  font-size: var(--fs-100);
  color: hsl(var(--clr-drk));
  background-color: hsl(var(--clr-wht));
  line-height: 1.5;
  min-height: 100vh;
}

/* ------------------------------- */
/* make images easier to work with */
/* ------------------------------- */
img {
  max-width: 100%;
  display: block;
}

/* ----------------------------- */
/*        Utility classes        */
/* ----------------------------- */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.contianer {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 100vw;
}

/* color */
.bg-dark {
  background-color: hsl(var(--clr-drk));
}
.bg-white {
  background-color: hsl(var(--clr-wht));
}
.bg-blue {
  background-color: hsl(var(--clr-blu));
}
.bg-gray {
  background-color: hsl(var(--clr-gry));
}

.text-dark {
  color: hsl(var(--clr-drk));
}
.text-white {
  color: hsl(var(--clr-wht));
}
.text-blue {
  color: hsl(var(--clr-blu));
}
.text-gray {
  color: hsl(var(--clr-gry));
}

/* typography */
.ff-exo-srf {
  font-family: var(--ff-exo-serif);
}
.ff-robot-srf {
  font-family: var(--ff-robot-serif);
}
.ff-robot-mono {
  font-family: var(--ff-robot-mono);
}

.uppercase {
  text-transform: uppercase;
}

.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-100 {
  font-size: var(--fs-100);
}

/* ----------------------------- */
/*       Elements classes        */
/* ----------------------------- */
.header-wrapper {
  justify-content: space-between;
  padding: 10px;
}

/* .nav-bar {
  align-items: center;
  justify-content: space-around;
} */

.nav-link {
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
  transition: background-color 700ms, border-radius 600ms;
}

.nav-link:hover {
  border-radius: 25px;
  background-color: hsl(var(--clr-gry));
  color: hsl(var(--clr-drk));
}

.row {
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

.column {
  width: 450px;
  padding: 50px 10px;
}

.column strong {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.cta-button {
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 10px auto;
  font-weight: 800;
  cursor: pointer;
}

.cta-button:hover {
  background-color: hsl(var(--clr-wht));
  color: hsl(var(--clr-blu));
}

.qoute-section {
  justify-content: center;
}

.qoute {
  width: 800px;
  flex-flow: column wrap;
  align-items: center;
}

.qoute figcaption {
  align-self: flex-end;
}
